.displaybox{
    padding-left: 36px;
    padding-top: 40px;
}
.outputbox{
    width: 25rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.outputvalue{
    size: 3rem;
}